@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


<div class="row">
    <div class="col-md-4">

    <div id="myfirstchart" style="height: 150px;"></div>

    <script>
        new Morris.Donut({
            // ID of the element in which to draw the chart.
            element: 'myfirstchart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
              { label: '2008', value: 20 },
              { label: '2009', value: 10 },
              { label: '2010', value: 5 },
              { label: '2011', value: 5 },
              { label: '2012', value: 20 }
            ]
        });
    </script>
    </div>
</div>